body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4; 
}

.navbar {
    background-color: #333; 
    padding: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #fff; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.name {
    font-weight: bold;
    font-size: 30px;
    color: #333; 
}

.text {
    flex-grow: 1;
    max-width: 60%; 
    margin-right: 20px;
    font-size: 20px; 
}

.description {
    font-size: 18px;
    font-style: italic;
    color: #495057; 
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; 
}

.photo img:hover {
    transform: scale(1.1);
}
